<!DOCTYPE html>
<html>
<head>
    <title>Buy Gold</title>
</head>
<body>

    <h2>Buy Gold 24K</h2>

    <form method="POST" action="/buy">
        <label>Product ID:</label><br/>
        <input type="text" name="productId" required /><br/><br/>

        <button type="submit">Buy 10g</button>
    </form>

</body>
</html>